.cart {
  padding: 15px 100px 30px 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
  padding-top: 50px;
}

.clear_btn {
  cursor: pointer;
  text-decoration: underline;
}

.item_container {
  display: inline-block;
}

.empty {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  color: darkgrey;
}
