* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../../public/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

#root {
  display: flex;
  justify-content: center;
  background-color: #faa;
  height: 100%;
  font-family: ProximaNova;
}

.wrapper {
  width: calc(100vw - 100px);
  background-color: #fff;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
  max-width: 1400px;
}

@media (max-width: 550px) {
  .wrapper {
    width: calc(110vw - 100px);
  }
}

/* HEADER */

.header {
  padding: 15px 40px 30px 40px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin-top: auto;
  margin-bottom: auto;
}

.header__logo a {
  text-decoration: none;
  color: black;
}

.header__cart {
  padding: 10px 20px;
  width: 100px;
  display: inline-block;
  background-color: #faa;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}

@media (max-width: 550px) {
  .header {
    align-items: center;
    flex-direction: column;
  }
}

/* CATEGORIES */

.categories {
  font-weight: bold;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories li {
  padding: 10px 20px;
  margin: 10px;
  min-width: 100px;
  display: inline-block;
  background-color: #fff;
  border: 3px solid #faa;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.categories .active {
  background-color: #faa;
}

.categories .active:hover {
  background-color: #faa;
}

.categories li:hover {
  background-color: #f3f3f3;
}

/* CONTENT */

.content__wrapper {
  display: flex;
  justify-content: center;
}

.content {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media (max-width: 1400px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1150px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 830px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pizza-block {
  width: 280px;
  text-align: center;
  margin: 20px;
  padding: 10px;
  background-color: #faa;
  border-radius: 10px;
}

.pizza-block__image {
  width: 260px;
  border-radius: 10px;
}

.pizza-block__title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin: 20px;
}

.pizza-block__selector {
  margin-block: 10px;
  padding: 6px;
  background-color: #f3f3f3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.pizza-block__selector ul {
  display: flex;
  flex: 1;
  list-style-type: none;
  margin-block: 2px;
}

.pizza-block__selector li {
  padding: 8px;
  flex: 1;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.pizza-block__selector .active {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}

.pizza-block__price {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.pizza-block__amount {
  margin-inline: 10px 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.pizza-block__button {
  margin-block: 15px;
  margin-inline: 10px;
  padding: 10px 15px;
  min-width: 10px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid transparent;
}

.pizza-block__button:hover {
  background-color: #f3f3f3;
}

/* CART */

.cart {
  padding: 15px 100px 30px 100px;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 20px 100px;
}

.cart__footer {
  display: flex;
  justify-content: space-between;
  margin: 60px 40px 10px 40px;
}

.cart__item-container {
  display: flex;
  justify-content: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border: 3px solid #faa;
  border-radius: 10px;
}

.cart-item__image {
  margin-block: auto;
  width: 100px;
  border-radius: 10px;
}

.cart-item__block {
  margin-block: auto;
}

.cart-item__title {
  font-size: 20px;
  font-weight: 800;
}

.cart-item__params {
  font-size: 16px;
  font-weight: 500;
}

.cart-item__amount {
  margin-inline: 10px 10px;
  font-size: 18px;
  font-weight: 500;
}

.cart-item_price {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.cart-item__button {
  margin-inline: 20px;
  width: 36px;
  height: 36px;
  padding: 5px;
  min-width: 10px;
  background-color: #fff;
  background-color: #fff;
  border: 3px solid #faa;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.cart-item__button:hover {
  background-color: #f3f3f3;
}
