.header {
  padding: 15px 40px 30px 40px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
}

.cart {
  padding: 10px 20px;
  width: 150px;
  background-color: #faa;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid transparent;
}

@media (max-width: 550px) {
  .header {
    align-items: center;
    flex-direction: column;
  }
}
