.header {
    padding: 15px 40px 30px 40px;
    display: flex;
    justify-content: space-between;
  }
  
.logo {
  margin-top: auto;
  margin-bottom: auto;
}

.logo a {
  text-decoration: none;
  color: black;
}

.cart {
  padding: 10px 20px;
  width: 100px;
  display: inline-block;
  background-color: #faa;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}

@media (max-width: 550px) {
  .header {
    align-items: center;
    flex-direction: column;
  }
}