.cart_item {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-block: 20px;
  margin-inline: 60px;
  padding: 10px;
  background-color: #fff;
  border: 3px solid #faa;
  border-radius: 10px;
}

.image {
  margin-block: auto;
  width: 100px;
  border-radius: 10px;
}

.block {
  margin-block: auto;
}

.title {
  font-size: 20px;
  font-weight: 800;
}

.params {
  font-size: 16px;
  font-weight: 500;
}

.amount {
  margin-inline: 10px 10px;
  font-size: 18px;
  font-weight: 500;
}

.price {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.button {
  margin-inline: 20px;
  width: 36px;
  height: 36px;
  padding: 5px;
  min-width: 10px;
  background-color: #fff;
  background-color: #fff;
  border: 3px solid #faa;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #f3f3f3;
}