* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../public/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

#root {
  display: flex;
  justify-content: center;
  background-color: #faa;
  height: 100%;
  font-family: ProximaNova;
}

.wrapper {
  width: calc(100vw - 100px);
  background-color: #fff;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
  max-width: 1400px;
}

@media (max-width: 550px) {
  .wrapper {
    width: calc(110vw - 100px);
  }
}
